<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == jobCategory}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" th:value="${searchTerm}" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
    <span th:if="${jobs} and ${jobs.size().equals(0)}"><h3>No job results found</h3></span>
    <span th:if="${jobs} and ${jobs.size()}"><h3 th:text="${jobs.size()} + ' Result(s) found:'"></h3></span>
    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <div th:if="${jobs} and ${jobs.size()}">
    <table th:each="job : ${jobs}" class="job-listing">
        <tr th:each="item : ${job.keySet()}" >
            <td th:text="${#strings.capitalizeWords(item)}"></td>
            <td><a th:text="${job.get(item)}" th:unless="${item == 'name'}" th:href="@{/search/results(searchType='all',searchTerm=${job.get(item)})}"></a><span th:if="${item == 'name'}" th:text="${job.get(item)}"></span></td>

        </tr>
    </table>
    </div>

</div>

</body>
</html>